
.header {
  width: 100%;
  max-width: 1440px;
  height: 130px;
  padding: 40px 80px 24px 80px;
  background: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.logoContainer {
  width: 200px;
  height: 66px;
  position: relative;
}

.primaryButton {
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
  .header {
    padding: 30px 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 20px;
  }

  .logoContainer {
    width: 150px; /* smaller logo */
  }

  .primaryButton {
    cursor: pointer;
  }
}
