.testimonialsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 112px 80px;
  gap: 32px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.textHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 12px;
  width: 100%;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  max-width: 628px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: var(--Color-Brand-Black, #171717);
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: var(--Color-Brand-Black, #171717);
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.arrowButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  gap: 8px;
  width: 48px;
  height: 48px;
  background: #6A65FD;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.arrowButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrowButton svg {
  width: 20px;
  height: 20px;
}

.cardsContainer {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cardsContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.testimonialCard {
  width: 411px;
  height: 342px;
  padding: 24px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
}

.cardQuote {
  width: 363px;
  color: var(--Color-Brand-Black, #171717);
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 34px;
  word-wrap: break-word;
}

.cardUser {
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.userImage {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  border: 2px var(--Color-Brand-White, white) solid;
}

.userInfo {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.userName {
  color: var(--Color-Brand-Black, #171717);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 23.40px;
  word-wrap: break-word;
}

.userTitle {
  opacity: 0.80;
  color: var(--Color-Brand-Black, #171717);
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30.60px;
  word-wrap: break-word;
}
