.main {
  max-width: 1440px;
  min-height: 2811px;
  margin: 0 auto;
  background: white;
  color: black;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content {
  font-size: 1.2rem;
  line-height: 1.8;
}
